.my-5 {
    background-color: #fff;
    text-align: center;
}
hr {
    width: 70%;
}
img {
    vertical-align: top; 
}
textarea {
    width: 60%;
    min-height: 100px;
    font-size: 20px;
}
#readuser {
    box-sizing: border-box;
    width: 50%;
    font-size: 15px;
    vertical-align: top;
}
.box {
    display: inline-block;
    width: 60px;
    height: 60px; 
    border-radius: 70%;
    overflow: hidden;
    vertical-align: top;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#nav {
    text-align: right;
    margin-left: -15vw;
}
#select {
    text-align: right;
}
#select > select {
    margin: 3vh 15vw 0;
}