.my-5 {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
}
.me-2 {
    margin: 0 2vw;
}
.d-flex {
    margin-bottom: 1.5rem;
} 
.palette_images{
    width: 100%;
    height: 100px;
    filter: brightness(1);
    transition: 0.5s;
    position: relative;
    display: flex;
}

.palette_images:hover {
    filter: brightness(0.3);
}
.me-3 {
    margin-top: 11vh;
}
.info_btn {
    visibility: hidden;
    top: 35%;
    left: 30%;
    position: absolute;
}
.palette_images:hover .info_btn::after {
    visibility: visible;
}