.my-5{
    height: 68vh;
    border: 1px solid black;
    border-radius: 14px;
    color: #fff;
    background-size: cover;
}

/* button */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");


@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
.w-btn-neon2 {
    position: relative;
    border: none;
    min-width: 200px;
    min-height: 50px;
    background: linear-gradient(
        90deg,
        rgba(78, 94, 154, 1) 0%,
        rgba(78, 94, 154, 1) 100%
    );
    border-radius: 1000px;
    color: #fff;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(78, 94, 154, 0.44);
    font-weight: 700;
    transition: 0.3s;
}

.w-btn-neon2:hover {
    transform: scale(1.2);
}

.w-btn-neon2:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid rgba(78, 94, 154, 0.44);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.card-text {
    margin-bottom: -20vh;
    font-size: 2.5rem;
}